<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ambimetrics.android.agenda"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="es.ambimetrics.android.agenda.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.ambimetrics.android.agenda.MainActivity"
            android:label="@string/title_activity_agenda" >
        </activity>
        <activity
            android:name="es.ambimetrics.android.agenda.AgendaActivity"
            android:label="@string/title_activity_agenda" >
        </activity>
        <activity
            android:name="es.ambimetrics.android.agenda.EditarContactoActivity"
            android:label="@string/title_activity_contacto"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name="es.ambimetrics.android.agenda.EditarContactoActivityTablet"
            android:label="@string/title_activity_contacto"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <provider
            android:name="es.ambimetrics.android.agenda.contentprovider.MyAgendaContentProvider"
            android:authorities="es.ambimetrics.android.agenda.contentprovider" >
        </provider>

        <activity
            android:name="es.ambimetrics.android.agenda.VerContactoActivity"
            android:label="@string/title_activity_ver_contacto" >
        </activity>
        <activity
            android:name="es.ambimetrics.android.agenda.RegistrarActivity"
            android:label="@string/title_activity_registrar"
            android:parentActivityName="es.ambimetrics.android.agenda.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.ambimetrics.android.agenda.MainActivity" />
        </activity>
    </application>

</manifest>